bleak
scapy
requests
#ipaddress
asyncio
manuf
rich
textual
pyfiglet

# TTS
piper-tts

# LLM / Voice Agent
#livekit-agents
#livekit-plugins-openai
#livekit-plugins-deepgram
#livekit-plugins-silero
#fastmcp
python-dotenv
